<section class='card'>
  <div class='card-head'>
    <h3 class='card-title' id='{{post_id}}'>{{post_title}}</h3>
  </div>

  <div class='card-body'>
    {{post_content}}
  </div>

  <div class='card-options'>

    <a href='/editpost/{{post_id}}'>
      <span class='material-symbols-outlined'>
        edit
      </span>
    </a>

    <span
      class='material-symbols-outlined'
      data-deleted='{{post_id}}'
      onclick='deletePostHandler(event)'
    >
      delete
    </span>

  </div>
</section>
<script src='/js/index.js'></script>