<link rel="stylesheet" href="/css/createpost.css">
<div class="new-post-box">
    <div class="posts">
        <section class="card" data-id="{{id}}">
            <div class="card-head">
                <h3>{{title}}</h3>
                <div>
                    <div class="card-options" style="display:none" data-currentUser="{{currentUser}}">
                        <span id="edit" class="edit-btn"><span class="material-symbols-outlined">edit</span></span>
                        <span id="delete" class="delete-btn"><span class="material-symbols-outlined">delete</span></span>
                    </div>
                    <p>Posted by <span id="username">{{user.username}}</span> at {{format_date updatedAt "America/Toronto"}}</p>
                </div>
            </div>
            <div class="card-body">
                {{post_content}}
            </div>
        </section>
    </div>
    <div class="comments">
        <h2>Comments:</h2>
        {{#each comments}}
        {{> viewPostAndComments }}
        {{/each}}
        <h3 id="leave-comment">Leave a comment:</h3>
        <form id="new-comment-form" data-id={{post_id}}>
            <textarea id="new-comment"></textarea>
            <input type="submit" class="submit submit-comment">
        </form>
    </div>
</div>
<script src="/js/viewComments.js"></script>
